/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: center/cover url("../images/background.webp") no-repeat;
    font-family: 'Pirata One', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.header {
    width: 100vw;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

.gameboard {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 70px;
    height: 105px;
    border: 2px solid black;
    border-radius: 10%;
    margin: 2px;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    position: absolute;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front, .back {
    backface-visibility: hidden;
}

.card .back {
    background-image: url("assets/images/card_back.webp");
    backface-visibility: hidden;
}

.card .front {
    transform: rotateY(180deg);
}


.score-container {
    width: 100vw;
    padding-top: 0.5em;
    text-align: center;
}


.controls-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
}

.controls {
    background: 0;
    border: 0;
    font-size: 200%;
}

#help-button {
    padding-right: 0.5em;
}

#sound-button {
    padding-left: 0.5em;
}

/* media query for tablets and larger (768px and up) */
@media only screen and (min-width: 768px) {

    body {
        position: relative;
    }

    .header {
        font-size: 150%;
    }

    .gameboard {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        width: 120px;
        height: 180px;
        margin: 5px;
    }

    .pair-counter {
        font-size: 150%;
    }
}

@media only screen and (min-width: 992px) {

}