/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: center/cover url("../images/background.webp") no-repeat;
    font-family: 'Pirata One', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.header {
    width: 100vw;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}
.gameboard {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    width: 80px;
    height: 120px;
    border: 1px solid red;
}

.score-container {
    width: 100vw;
    text-align: center;
}

.controls-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.controls {
    background: 0;
    border: 0;
    font-size: 300%;
}

#help-button {
    padding-right: 1em;
}

#sound-button {
    padding-left: 1em;
}